{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Название товара</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>

<body>
    <div class="container">
        {% for infos in info|slice:"44:45" %}
        <h1 class="text-center">{{ infos.Работа|default:"Нет данных" }}</h1>
        <div class="row">
            <div class="col-md-7">
                <h3>Инициатор:</h3>
                <p>{{ infos.Инициатор|default:"Нет данных" }}</p>
                <h3>ГИП:</h3>
                <p>{{ infos.ГИП|default:"Нет данных" }}</p>
                <h3>Комментарий ГИП:</h3>
                <p>{{ infos.КомментарийГИП|default:"Нет данных" }}</p>
                <h3>Изготовлено:</h3>
                <p>{{ infos.Изготовлено|default:"Нет данных"|date:"Y-m-d H:i"}}</p>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-12">
                        {% block content %}

                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>